<!DOCTYPE html>
<html ng-app="game">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Работа с изображениями</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="angular_style.css" type="text/css">
    <script src="angular.js"></script>
    <script src="angular_script.js"></script>
</head>

<body ng-controller="GalleryController" bgcolor="#aaffee">
    <nav class="navbar navbar-nav">
        <div class="container-fluid">
            <div class="navbar-header">
                <ul class="nav nav-pills">
                    <li><a class="navbar-brand align-self-center" href="#">Soccer gallery</a></li>
                    <li class="nav-item align-self-center"><a href="index.html">Home</a></li>
                    <li class="nav-item align-self-center"><a href="gallery.html">Gallery</a></li>
                    <li class="align-self-center"><a data-toggle="collapse" href="#addPicture" role="button" aria-expanded="false" aria-controls="collapseExample">Add</a></li>
                    <div class="collapse align-self-center" id="addPicture">
                        <li>
                            <a class="addPicture align-self-center">
                                    URL нового изображения:
                                    <input ng-model="newPicture align-self-center" />
                                    <input type="button" ng-click="addPicture()" value="Подвердить" />
                        </a>
                        </li>
                    </div>
                    <li class="nav-item about"><a href="about.html" class="active">About</a></li>
                </ul>
            </div>
        </div>
    </nav>
</body>

</html>